<!doctype html>
<html lang="ru">
<head>
    {{> head/head head.contacts }}
</head>
<body>
<div class="superwrapper">
    <div class="wrapper">
        {{> navbar/navbar }}
        {{> baner/baner }}
        <div class="container" id="main">
            <h2 class="text-center pb-2">Подробная информация о городской больнице города Радужный</h2>
            <div class="row">
                <div class="col-12 col-lg-6 ">
                    <p> <span class="text-primary">Полное наименование:</span> Государственное Бюджетное Учреждение Здравоохранения "Городская Больница
                        ЗАТО г. Радужный Владимирской Области" <br> <span class="text-primary"> Сокращенное наименование:</span> ГБУЗ "Городская Больница ЗАТО г. Радужный"</p>
                    <p><span class="text-primary">ОГРН</span> 1033303412108 <br> <span class="text-primary">ИНН/КПП</span> 3308004571/330801001 <br> <span class="text-primary">Дата регистрации:</span> 28.07.2003</p>
                    <p>Юридический адрес и местонахождение: 600910, Владимирская область, город Радужный, квартал 9, дом 2</p>
                    <p>Почтовый адрес: </p>
                    <p>Учредитель: ДЕПАРТАМЕНТ ЗДРАВООХРАНЕНИЯ АДМИНИСТРАЦИИ ВЛАДИМИРСКОЙ ОБЛАСТИ</p>
                </div>
                <div class="col-12 col-lg-6">
                    <iframe src="https://yandex.ru/map-widget/v1/-/CBetrGVC9C" class="w-100" height="400" frameborder="0"></iframe>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-12 col-lg-6">
                    <h5>График приема граждан руководителем больницы и иными уполномоченными лицами</h5>
                    <div id="accordion">
                        <div class="card">
                            <div class="card-header" id="lopunova">
                                <h6 class="mb-0">
                                    <button class="btn btn-link btn-sm" data-toggle="collapse" data-target="#collapseLopunova" aria-expanded="false" aria-controls="collapseLopunova">Лопунова Елена Владимировна, главный врач</button>
                                </h6>
                            </div>
                            <div id="collapseLopunova" class="collapse" aria-labelledby="lopunova" data-parent="#accordion">
                                <div class="card-body">
                                    <img src="http://via.placeholder.com/211x152" alt="" class="float-left pb-3 pr-3">
                                    <strong>Главный врач</strong> - еженедельно по средам с 14:00 до 15:00, каб. 410
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="reznichenko">
                                <h6 class="mb-0">
                                    <button class="btn btn-link  btn-sm" data-toggle="collapse" data-target="#collapseReznichenko" aria-expanded="false" aria-controls="collapseReznichenko">Резниченко Данна Васильевна, зам по мед.части</button>
                                </h6>
                            </div>
                            <div id="collapseReznichenko" class="collapse" aria-labelledby="reznichenko" data-parent="#accordion">
                                <div class="card-body">
                                    <img src="http://via.placeholder.com/211x152" alt="" class="float-left pb-3 pr-3">
                                    <strong>Заместитель главного врача по медицинской части</strong> – еженедельно по понедельникам с 15:00 до 17:00, каб. 410
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="goncharenko">
                                <h6 class="mb-0">
                                    <button class="btn btn-link  btn-sm" data-toggle="collapse" data-target="#collapseGoncharenko" aria-expanded="false" aria-controls="collapseGoncharenko">Гончаренко Елена Анатольевна, зам по КЭР</button>
                                </h6>
                            </div>
                            <div id="collapseGoncharenko" class="collapse" aria-labelledby="goncharenko" data-parent="#accordion">
                                <div class="card-body"><img src="http://via.placeholder.com/211x152" alt="" class="float-left pb-3 pr-3">
                                    <strong>Заместитель главного врача по клинико-экспертной работе</strong> – </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="kataleev">
                                <h6 class="mb-0">
                                    <button class="btn btn-link btn-sm" data-toggle="collapse" data-target="#collapseKataleev" aria-expanded="false" aria-controls="collapseKataleev">Каталеев Дмитрий Юрьевич, зам по лечебной работе</button>
                                </h6>
                            </div>
                            <div id="collapseKataleev" class="collapse" aria-labelledby="kataleev" data-parent="#accordion">
                                <div class="card-body">
                                    <img src="http://via.placeholder.com/211x152" alt="" class="float-left pb-3 pr-3">
                                    <strong>Заместитель главного врача по лечебной работе</strong> – еженедельно с понедельника по пятницу с 10:00 до 11:00, стационарное отделение, 2 этаж, каб. 4
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <h5 class="mt-3 mt-lg-0">Режим и график работы ГБУЗ городская больница г. Радужный</h5>
                    <ul class="">
                        <li>Понедельник - пятница
                            <ul>
                                <li>Лаборатория – забор анализов с ?? по ??</li>
                                <li>Администрация – с 8 до 17, перерыв с 12 до 13</li>
                                <li>Регистратура – с 7 до 19</li>
                                <li>Прием врачей согласно расписания</li>
                            </ul>
                        </li>
                        <li>Суббота – с 07:30 до 11:00, дежурные службы</li>
                        <li>Воскресенье – выходной</li>
                        <li>Отделение СМП ежедневно, круглосуточно</li>
                    </ul>
                </div>
            </div>
        </div>

        <footer class="footer">
            {{> footer/footer}}
        </footer>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="%=static=%js/main%=hash=%%=min=%.js"></script>
</body>
</html>
