<!doctype html>
<html lang="ru">
<head>
    {{> head/head head.main}}
</head>
<body>
<div class="superwrapper">
    <div class="wrapper">
        {{> navbar/navbar }}
        {{> baner/baner }}

        <!-- Класть контент сюда -->
        <div class="container" id="main">
            <div class="row">
                <div class="col-12">
                    <h3 class="justify-content-center">Краткая справка о ГБУЗ ГБ г. Радужный</h3>
                    <div>
                        <a href="%=static=%img/content/main_building_x2.jpg" alt="главное здание больница поликлиника города радужный" data-lightbox="main_building" data-title="главное здание поликлиники города радужный">
                            <img width="320" src="%=static=%img/content/main_building.jpg" alt="главное здание больница поликлиника города радужный" class="float-left mb-3 mr-3 img-thumbnail">
                        </a>
                        <p>Государственное бюджетное учреждение здравоохранения Городская больница ЗАТО г. Радужный Владимирской области преобразовано из Медико-санитарной части-30, открытой с 30 апреля 1981 года. В настоящее время руководство медицинской организацией осуществляет главный врач – Е.В. Лопунова. В 2003 году открылось стационарное отделение терапевтического профиля, а в январе 2006 года – хирургическое отделение. В настоящее время хирургическое отделение закрыто, продолжает функционировать стационар дневного пребывания.</p>
                    </div>
                    <div>
                        <p>За 30 лет Городская больница превратилась из обычного здравпункта в одно из лучших медицинских учреждений Владимирской области. В настоящее время в Городской больнице трудятся 220 сотрудников. Их них 43 врача, 101 средний медицинский работник (фельдшера, медицинские сестры, лаборанты, акушерки). Это специалисты с высшей, первой и второй квалификационной категорией по различным специальностям. Работает много молодых специалистов, за которыми будущее больницы.</p>
                    </div>
                    <div>
                        <a href="%=static=%img/content/ambulance_car_x2.jpg" alt="автомобиль скорой помощи больцы города радужный" data-lightbox="main_building" data-title="Бригада скорой помощи выезжает на вызов">
                            <img width="320" src="%=static=%img/content/ambulance_car.jpg" alt="автомобиль скорой помощи больцы города радужный" class="float-right mb-3 mr-3 img-thumbnail">
                        </a>
                        <p>В составе ГБУЗ Городская больница ЗАТО г. Радужный три подразделения: амбулаторно-поликлиническое, отделение скорой медицинской помощи и стационарное отделение. Амбулаторно-поликлиническое отделение включает ряд служб: терапевтическое отделение – 8 участков, педиатрическое отделение – 4 участка, стоматологическое (в том числе прием детей), зубопротезный кабинет, женскую консультацию, дневной стационар на 9 коек по программе ОМС. Работают рентгенологический и УЗИ кабинеты, клинико-биохимическая лаборатория, отделение функциональной диагностики, физиотерапевтическое отделение. Также ведется прием узкими специалистами.</p>
                        <a href="%=static=%img/content/hospital_x2.jpg" alt="здание стационарного отделения гбуз гб города радужный" data-lightbox="main_building" data-title="Здание стационарного отделения ГБУЗ Городская больница г. Радужный">
                            <img width="320" src="%=static=%img/content/hospital.jpg" alt="здание стационарного отделения гбуз гб города радужный" class="float-left mb-3 mr-3 img-thumbnail">
                        </a>
                        <p> В амбулаторно-поликлиническом отделении ведется прием врачей по экстренным и плановым обращениям, также осуществляется оказание помощи на дому (по показаниям). В отделении скорой медицинской помощи две врачебно-фельдшерские бригады круглосуточно оказывают экстренную медицинскую помощь. В стационаре функционирует 2 отделения: терапевтическое – на 21 круглосуточную койку и 2 койки дневного пребывания, неврологическое – на 18 круглосуточных коек и 5 коек дневного пребывания, <mark id="PIT"> ПИТ </mark>  – 3 койки в составе терапии. Далее во вновь построенном специализированном здании было открыто патологоанатомическое отделение. В стационаре функционирует кабинет ультразвуковой диагностики (УЗИ). В пяти кабинетах расположилась часть физиотерапевтического отделения поликлиники. Здесь больные могут принимать те же процедуры, что и в поликлинике.</p>
                    </div>
                    <div>
                        <p>В стационарном отделении оказывается плановая и экстренная стационарная помощь. С 2013 года работой стационара руководит заместитель главного врача по лечебной работе Д.Ю. Каталеев. Терапевтическое отделение возглавляет опытный терапевт С.В. Доровских. Во главе неврологического отделения - А.В. Носыч.</p>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer">
            {{> footer/footer}}
        </footer>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="%=static=%js/main%=hash=%%=min=%.js"></script>
</body>
</html>
