<!doctype html>
<html lang="ru">
<head>
    {{> head/head head.main }}
</head>
<body>
<div class="superwrapper">
<div class="wrapper">
    {{> navbar/navbar }}
    {{> baner/baner }}
    <div class="container" id="main">
        <h2>Информация о руководящем составе учреждения</h2>
        <dl class="row">
            <dt class="col-sm-4 ">Главный врач — Лопунова Елена Владимировна</dt>
            <dd class="col-sm-6 pb-sm-5">В 2000 году окончила Ивановскую государственную медицинскую академию по специальности «Лечебное дело», присвоена квалификация «Врач». В 2004 году прошла профессиональную переподготовку по специальности «Пульмонология». В 2009 году прошла курсы повышения квалификации по специальности «Терапия». В 2009 году прошла профессиональную переподготовку по специальности «Организация здравоохранения и общественное здоровье». Стаж – 9 лет.</dd>
            <dd class="col-sm-2">Телефон приемной — 3-28-46</dd>

            <dt class="col-sm-4 ">Заместитель главного врача по медицинской части — Резниченко Данна Васильевна</dt>
            <dd class="col-sm-6 pb-sm-5">В 1977 году окончила Ивано-Франковский государственный медицинский институт по специальности «Врач лечебник. В 2006 году прошла профессиональную переподготовку по специальности «Организация здравоохранения и общественное здоровье». По данной специальности имеет I квалификационную категорию. В 2010 году прошла курсы повышения квалификации по специальности «Фтизиатрия». Стаж – 34 года.</dd>
            <dd class="col-sm-2">Телефон — 3-32-13</dd>

            <dt class="col-sm-4 ">Заместитель главного врача по клинико-экспертной работе — Гончаренко Елена Анатольевна</dt>
            <dd class="col-sm-6 pb-sm-5"></dd>
            <dd class="col-sm-2">Телефон — 3-22-31</dd>

            <dt class="col-sm-4 ">Заместитель главного врача по лечебной работе — Каталеев Дмитрий Юрьевич</dt>
            <dd class="col-sm-6 pb-sm-5">В 2005 году окончил ГОУВПО "Ивановская государственная медицинская академия" по специальности "Лечебное дело". В период с 01.09.2005 по 31.08.2007 прошел ординатуру на базе ГОУ ВПО "ИвГМА" по специальности "Анестезиология и реаниматология". В период с 17.05.2010 по 10.09.2010 прошел профессиональную переподготовку по специальности "Трансфузиология". В период с 28.01.2013 по 24.05.2013 прошел профессиональную переподготовку по специальности "Организация здравоохранения и общественное здоровье". По всем специальностям имеет сертификаты специалиста. Имеет Вторую квалификационную категорию по специальности "Анестезиология и реаниматология"</dd>
            <dd class="col-sm-2">Телефон — 3-38-54</dd>

            <dt class="col-sm-4 ">Главная медицинская сестра — Валькова Ольга Александровна</dt>
            <dd class="col-sm-6 pb-sm-5">В 1981 году окончила Арзамасское медицинское училище «Фельдшер». В 2005 году окончила Владимирский базовый медицинский колледж с углубленной подготовкой по специальности «Организация сестринского дела», Высшая квалификационная категория. Стаж – 30 лет.</dd>
            <dd class="col-sm-2">Телефон — 3-31-65</dd>

            <dt class="col-sm-4 ">Старшая медицинская сестра — Барышникова Татьяна Владимировна</dt>
            <dd class="col-sm-6 pb-sm-5">В 1985 году окончила Владимирское медицинское училище «Фельдшер». В 2006 году прошла курсы повышения квалификации по специальности «Организация сестринского дела», II квалификационная категория. Стаж - 18 лет</dd>
            <dd class="col-sm-2">Телефон — 3-47-79</dd>
        </dl>
    </div>
    <footer class="footer">
        {{> footer/footer}}
    </footer>
</div>    
</div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="%=static=%js/main%=hash=%%=min=%.js"></script>
</body>
</html>
