<div class="container" id="main">
    <div class="row">
        <div class="col-12">
            <h2>Расписание приема врачей</h2>
        </div>
    </div>
    <!--<div class="row">
        <div class="col">
            <div>
                <button class="btn">Терапевты</button>
                <button class="btn">Педиатры</button>
                <button class="btn">Узкие специалисты</button>
            </div>
        </div>
    </div>-->
    <div class="row">
        <div class="col-12">
            <table class="table table-hover table-responsive">
                <thead class="thead-light">
                <tr>
                    <th scope="col">Врач</th>
                    <th scope="col">Специализация</th>
                    <th scope="col">Пн</th>
                    <th scope="col">Вт</th>
                    <th scope="col">Ср</th>
                    <th scope="col">Чт</th>
                    <th scope="col">Пт</th>
                    <th scope="col">Сб</th>
                </tr>
                </thead>
                <tbody>
                {{#each list}}
                <tr>
                    <th scope="row">{{name}}</th>
                    <td> {{type}} </td>
                    <td> {{monday}} </td>
                    <td> {{tuesday}} </td>
                    <td> {{wednesday}} </td>
                    <td> {{thursday}} </td>
                    <td> {{friday}} </td>
                    <td></td>
                </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>
