//// Common styles of the project
//
//html, body {
//    height: 100%;
//}
//
//.page {
//
//}
//
//.page__wrapper {
//    min-height: 100%;
//    margin-bottom: -50px;
//}
//
//* html .page__wrapper {
//    height: 100%;
//}
//
//.page__buffer {
//    height: 50px;
//}
