    <div class="container">
        <hr>
        <div class="row justify-content-around">
            <div class="col-12 col-md-6 col-lg-3 ">
                <h5>Полное наименование</h5>
                <dl class="small">
                    <dt>ГОСУДАРСТВЕННОЕ БЮДЖЕТНОЕ УЧРЕЖДЕНИЕ ЗДРАВООХРАНЕНИЯ "ГОРОДСКАЯ БОЛЬНИЦА ЗАТО Г. РАДУЖНЫЙ ВЛАДИМИРСКОЙ ОБЛАСТИ"</dt>
                    <dd>ИНН/КПП 3308004571/330801001</dd>
                    <dd>ОГРН 1033303412108</dd>
                </dl>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <h5>Адрес</h5>
                <address class="small">
                    <dl> <dt> ГБУЗ "ГОРОДСКАЯ БОЛЬНИЦА ЗАТО Г. РАДУЖНЫЙ"</dt>
                        <dd> <i class="fas fa-envelope"></i>  600910, Владимирская область, г. Радужный, 9й квартал, дом 2</dd>
                        <dt><i class="fas fa-phone-square"></i> Телефоны: </dt>
                        <dd> Секретарь – 32846</dd>
                        <dd> Регистартура – 33822, 32977</dd>
                        <dd> Зам.гл.вр. по медчасти – 33854</dd>
                        <dd> Зам.гл.вр. по КЭР – 32231</dd>
                        <dd> Зам.гл.вр. по леч. части –  33213</dd>
                        <dd> Код г. Радужный – +7 49254 </dd>
                    </dl>
                </address>
            </div>
            <div class="col-12 col-lg-6 text-muted">
                <h5>Форма обратной связи</h5>
                <form action="">
                    <div class="form-row">
                        <div class="col">
                            <lable>Ваше имя</lable>
                            <input class="form-control form-control-sm" type="text" disabled>
                        </div>
                        <div class="col">
                            <lable>Эл. почта</lable>
                            <input class="form-control form-control-sm" type="text" disabled>
                        </div>
                    </div>
                    <lable>Текст обращения</lable>
                    <textarea class="form-control" rows="5" disabled></textarea>
                    <button class="btn btn-sm btn-info float-right my-1" type="submit" disabled>Отправить</button>
                </form>
            </div>
        </div>
    </div>
    <noscript><div><img src="https://mc.yandex.ru/watch/48170651" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
