<!doctype html>
<html lang="ru">
<head>
    {{> head/head head.main }}
</head>
<body>
<div class="superwrapper">
<div class="wrapper">
    {{> navbar/navbar }}
    {{> baner/baner }}
    <div class="container" id="main">
            <div class="row">
                {{> docslist/docslist docslist.commons }}
            </div>
    </div>
    <footer class="footer">
        {{> footer/footer}}
    </footer>
</div>    
</div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="%=static=%js/main%=hash=%%=min=%.js"></script>
</body>
</html>
