<!doctype html>
<html lang="ru">
<head>
    {{> head/head head.vacancies }}
</head>
<body>
    <div class="superwrapper">
        <div class="wrapper">
            {{> navbar/navbar }}
            {{> baner/baner }}
            <div class="container" id="main">
                <h2>Открытые вакансии ГБУЗ Городская Больница г. Радужный</h2>
                <div class="row">
                    <div class="col-12 col-lg-6">
                        <ul class="list-unstyled">
                            <li><h6 class="font-weight-bold mt-2">Заведующий отделением врачебной физиотерапии – 1 вакансия</h6>
                                <ul>
                                    <li>Здесь описание вакансии</li>
                                    <li>Требования к соискателю</li>
                                    <li>Условия труда, размер оплаты и т.д.</li>
                                </ul>
                            </li>
                            <li><h6 class="font-weight-bold mt-2">Врач терапевт-участковый – 3 вакансии</h6>
                                <ul>
                                    <li>Здесь описание вакансии</li>
                                    <li>Требования к соискателю</li>
                                    <li>Условия труда, размер оплаты и т.д.</li>
                                </ul>
                            </li>
                            <li><h6 class="font-weight-bold mt-2">Врач педиатр-участковый – 2 вакансии</h6>
                                <ul>
                                    <li>Здесь описание вакансии</li>
                                    <li>Требования к соискателю</li>
                                    <li>Условия труда, размер оплаты и т.д.</li>
                                </ul>
                            </li>
                            <li><h6 class="font-weight-bold mt-2">Врач-акушер-гинеколог (временно) – 1 вакансия</h6>
                                <ul>
                                    <li>Здесь описание вакансии</li>
                                    <li>Требования к соискателю</li>
                                    <li>Условия труда, размер оплаты и т.д.</li>
                                </ul>
                            </li>
                            <li><h6 class="font-weight-bold mt-2">Врач хирург – 1 вакансия</h6>
                                <ul>
                                    <li>Здесь описание вакансии</li>
                                    <li>Требования к соискателю</li>
                                    <li>Условия труда, размер оплаты и т.д.</li>
                                </ul>
                            </li>
                            <li><h6 class="font-weight-bold mt-2">Врач эндоскопист - 1 вакансия</h6>
                                <ul>
                                    <li>Здесь описание вакансии</li>
                                    <li>Требования к соискателю</li>
                                    <li>Условия труда, размер оплаты и т.д.</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="col-12 col-lg-6">
                        <ul class="list-unstyled">
                            <li><h6 class="font-weight-bold mt-2">Акушерка – 1 вакансия</h6>
                                <ul>
                                    <li>Здесь описание вакансии</li>
                                    <li>Требования к соискателю</li>
                                    <li>Условия труда, размер оплаты и т.д.</li>
                                </ul>
                            </li>
                            <li><h6 class="font-weight-bold mt-2">Медицинская сестра палатная – 2 вакансии</h6>
                                <ul>
                                    <li>Здесь описание вакансии</li>
                                    <li>Требования к соискателю</li>
                                    <li>Условия труда, размер оплаты и т.д.</li>
                                </ul>
                            </li>
                            <li><h6 class="font-weight-bold mt-2">Фельдшер – 2 вакансии</h6>
                                <ul>
                                    <li>Здесь описание вакансии</li>
                                    <li>Требования к соискателю</li>
                                    <li>Условия труда, размер оплаты и т.д.</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>

                <p>По вопросам трудоустройства обращаться в отдел кадров ГБУЗ ГБ г. Радужный по телефону +7 49254 36110 или на почту pop3@hospital.elcom.ru</p>
            </div>
                <footer class="footer">
                    {{> footer/footer}}
                </footer>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="%=static=%js/main%=hash=%%=min=%.js"></script>
</body>
</html>
