@import url('https://fonts.googleapis.com/css?family=Didact+Gothic|Gabriela|PT+Sans+Caption:400,700&subset=cyrillic-ext');
@import url("https://use.fontawesome.com/releases/v5.0.8/css/all.css");

body {
    font-family: 'PT Sans Caption', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: url("/static/img/general/grey.png") repeat ;
}

#navbarNav {
    min-height: 70px;
    font-size: 18px;
}

#bgimagewrapper {
    background: url("/static/img/general/bebeklerde-zehirlenme.jpg") no-repeat center top;
    height: 300px;
    text-align: center;
    background-attachment: relative;
    background-position: center center;
    background-size: cover;
}

#main {
    padding-top: 20px;
    padding-bottom: 20px;
    flex: 1;
}

#cardsdocslist .card {
    width: 33%;
}

#bgimagewrapper>div>div>div {
    font-size: 3em;
    font-weight: 600;
    letter-spacing: 1px;
    width: 70%;
    margin: 0 auto;
    background: rgba(255,255,255,0.6);
}

@media (max-width: 992px) {
    #cardsdocslist .card {
        width: 48%;
    }
}

@media (max-width: 768px) {
    #bgimagewrapper>div>div>div {
        font-size: 2em;
    }

    #cardsdocslist .card {
        width: 100%;
    }
}

@media (max-width: 576px) {
    #cardsdocslist .card {
        width: 100%;
    }
}

#bgimagewrapper>div {
    height: 300px;
}
