/* Your custom fonts here */
/* Example

@font-face {
    font-family: 'CustomFont';
    src: url('../fonts/Custom-Font.eot');
    src: url('../fonts/Custom-Font.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Custom-Font.woff') format('woff'),
         url('../fonts/Custom-Font.svg#custom_font') format('svg');
    font-weight: 400;       // For normal width. It could has another value   
    font-style: normal;     // Also could has another value
    }


// Var for using custom font
$CustomFont: 'CustomFont', Helvetica, Arial, sans-serif;
*/
@import url("https://fonts.googleapis.com/css?family=Didact+Gothic|Gabriela|PT+Sans+Caption:400,700&subset=cyrillic-ext");
@import url("https://use.fontawesome.com/releases/v5.0.8/css/all.css");
body {
  font-family: 'PT Sans Caption', sans-serif;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: url("../img/general/grey.png") repeat;
}

#navbarNav {
  height: 70px;
  font-size: 18px;
}

#bgimagewrapper {
  background: url("../img/general/bebeklerde-zehirlenme.jpg") no-repeat center top;
  height: 300px;
  text-align: center;
  background-attachment: relative;
  background-position: center center;
  background-size: cover;
}

#main {
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#cardsdocslist .card {
  width: 32%;
}

#bgimagewrapper > div > div > div {
  font-size: 3em;
  font-weight: 600;
  letter-spacing: 1px;
  width: 70%;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.6);
}

@media (max-width: 768px) {
  #bgimagewrapper > div > div > div {
    font-size: 2em;
  }
  #cardsdocslist .card {
    width: 45%;
  }
}

@media (max-width: 576px) {
  #cardsdocslist .card {
    width: 100%;
  }
}

#bgimagewrapper > div {
  height: 300px;
}
