
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="{{keywords}}">
    <meta name="description" content="{{descriptions}}">
    <meta http-equiv="X-UA-Compatible", content="ie=edge">
    <link rel="stylesheet" href="%=static=%css/separate-css/bootstrap.min.css">
    <link href="%=static=%css/main%=hash=%%=min=%.css" rel="stylesheet" type="text/css">
    <!--<link rel="stylesheet" href="%=static=%css/separate-css/main.css">-->
    <script> (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter48170651 = new Ya.Metrika({ id:48170651, clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks"); </script>
    <title>{{title}}</title>

