@import url("https://fonts.googleapis.com/css?family=Didact+Gothic|Gabriela|PT+Sans+Caption:400,700&subset=cyrillic-ext");
@import url("https://use.fontawesome.com/releases/v5.0.8/css/all.css");

body {
}

.superwrapper {
    display: flex;
}

.wrapper {
    font-family: "PT Sans Caption", sans-serif;
    width: 100%;
    min-height: 100vh;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    background: url("/static/img/general/grey.png") repeat;
}

.navbar {
    min-height: 70px;
    font-size: 18px;
}

#bgimagewrapper {
    background: url("/static/img/general/bg.jpg") no-repeat center top;
    height: 300px;
    text-align: center;
    background-attachment: relative;
    background-position: center center;
    background-size: cover;
}

#main {
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-flex-grow: 1;
    flex-grow: 1;
}

#cardsdocslist .card {
    width: 24%;
}

#bgimagewrapper > div > div > div {
    font-size: 3em;
    font-weight: 600;
    letter-spacing: 1px;
    width: 70%;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.6);
}

@media (max-width: 992px) {
    #cardsdocslist .card {
        width: 48%;
    }
}

@media (max-width: 768px) {
    #bgimagewrapper > div > div > div {
        font-size: 2em;
    }

    #cardsdocslist .card {
        width: 100%;
    }
}

@media (max-width: 576px) {
    #cardsdocslist .card {
        width: 100%;
    }
}

#bgimagewrapper > div {
    height: 300px;
}

.lb-cancel {
    background: url("/static/img/general/loading.gif") no-repeat;
}

.lb-nav a.lb-prev {
    background: url("/static/img/general/prev.png") left 48% no-repeat;
}

.lb-nav a.lb-next {
    background: url("/static/img/general/next.png") left 48% no-repeat;
}
.lb-data .lb-close {
    background: url("/static/img/general/close.png") top right no-repeat;
}

#accordion button {
    white-space: normal;
    word-wrap: break-word;
}
