<div class="col-12 col-lg-3 flex-column align-self-baseline pt-1 pt-lg-5" id="sidebardocslist">
        <div class="card">
                <button class="btn btn-light" data-toggle="collapse" data-target="#therapists" aria-expanded="true" aria-controls="collapseOne">
                    Терапевты
                </button>
            <div class="collapse" id="therapists" aria-labelledby="headingOne">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Гончаренко Е.А.</li>
                <li class="list-group-item">Редькина Е.А.</li>
                <li class="list-group-item">Рукшина Т.Ю.</li>
                <li class="list-group-item">Солдатова К.М.</li>
            </ul>
            </div>
        </div>
        <div class="card">
            <button class="btn btn-light" data-toggle="collapse" data-target="#pediatricians" aria-expanded="true" aria-controls="collapseOne">
                Педиатры
            </button>
            <div class="collapse" id="pediatricians" aria-labelledby="headingOne">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Шулепникова Л.В.</li>
                    <li class="list-group-item">Камышан Е.Г.</li>
                    <li class="list-group-item">Кустова Е.В.</li>
                    <li class="list-group-item">Солдатова К.М.</li>
                </ul>
            </div>
        </div>
</div>
