<nav class="navbar navbar-expand-lg navbar-dark" role="navigation" style="background-color: #11a3c9;">
    <div class="container d-flex justify-content-center">
        <a href="/" class="navbar-brand"><i class="fab fa-medrt fa-2x"></i></a>
        <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
            <ul class="nav navbar-nav text-center">
                <li class="nav-item"><a href="/" class="nav-link text-white">Главная</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" href="#" id="services" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Для пациентов</a>
                    <div class="dropdown-menu" aria-labelledby="services">
                        <a class="dropdown-item" href="#">Услуги по ОМС</a>
                        <a class="dropdown-item" href="#">Платные услуги</a>
                        <a class="dropdown-item" href="#">Диспансеризация</a>
                        <a class="dropdown-item" href="#">Лекарственное обеспечение</a>
                        <a class="dropdown-item" href="#">Объявления</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" href="#" id="specialists" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        Специалисты
                    </a>
                    <div class="dropdown-menu" aria-labelledby="specialists">
                        <a class="dropdown-item" href="/docslist/therapist.html">Терапия и педиатрия</a>
                        <a class="dropdown-item" href="/docslist/commons.html">Узкие специалисты</a>
                        <a class="dropdown-item" href="/docslist/stomatology.html">Зубные врачи и стоматологи</a>
                        <a class="dropdown-item" href="/docslist/hospital.html">Врачи стационара</a>
                        <a class="dropdown-item" href="/docslist/diagnostician.html">Отделение диагностики и лаборатория</a>
                        <a class="dropdown-item" href="/docslist/ambulance.html">Отделение СМП</a>
                        <a class="dropdown-item" href="/docslist/vacancies.html">Открытые вакансии</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        Об учреждении
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="/about/structure.html">Структура</a>
                        <a class="dropdown-item" href="/about/info.html">Краткая справка</a>
                        <a class="dropdown-item" href="#">Документы</a>
                        <a class="dropdown-item" href="/about/contacts.html">Контакты</a>
                    </div>
                </li>
                <li class="nav-item"><a href="/schedule.html" class="nav-link text-white">Расписание</a></li>
            </ul>
        </div>
        <span class="navbar-text text-white text-right text--right"><a href="https://vk.com/gbraduga" class="nav-link text-white"><i class="fab fa-vk fa-2x"></i></a></span>
        <span class="navbar-text text-white text-right text--right"><a href="https://ok.ru/group/54283734614117" class="nav-link text-white"><i class="fab fa-odnoklassniki-square fa-2x"></i></a></span>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars fa-2x text-white"></i>
        </button>
    </div>
</nav>
