<div class="col-12 ">
        <h2 class="text-center pb-3">{{ h2block }}</h2>
        <div class="row">
            <div class="col-12 d-flex flex-wrap justify-content-between" id="cardsdocslist">
                {{#each list}}
                    <div class="card mb-2">
                        <div class="card-body">
                            <h5 class="card-title">{{name}}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">{{position}}</h6>
                            <p class="card-text">Диплом по специальности "{{diploma.specialty}}" выдан {{diploma.name}} в {{diploma.year}} году</p>
                            <p class="card-text">Сертификат по направлению "{{certificate.specialty}}" действителен до {{certificate.to}}</p>
                            <p class="card-text">{{diploma.qualification}} {{category.type}} квалификационной категории </p>
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>
    </div>
